<%= form_for(@mission) do |f| %>

  <%= render 'partials/form_errors', item: @mission %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= image_tag @mission.image.url if @mission.image? %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <% if @mission.image? %>
  <p>
    <%= f.label :remove_image %><br>
    <%= f.check_box :remove_image %>
  </p>
  <% end %>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
