<p class="actions">
  <button class="torches <%= mission.torched_by?(current_user) ? 'activated' : 'activate' %>"
      data-url="<%= mission_torch_path mission %>"
      data-create-error="<%= t 'missions.could_not_award_torch' %>"
      data-destroy-error="<%= t 'missions.could_not_revoke_torch' %>">
    <i></i> 
    <span><%= mission.torches.size %></span>
  </button>
  <% class_name = sponsor_button_class mission %>
  <button class="sponsors <%= class_name %>"
    <% if class_name == 'disabled' %>
      <%= raw 'disabled="disabled"' %>
    <% else %>
      data-url="<%= mission_sponsorship_path mission %>"
      data-create-error="<%= t 'missions.could_not_sponsor' %>"
      data-destroy-error="<%= t 'missions.could_not_unsponsor' %>"
    <% end %>>
    <i></i>
    <span><%= mission.sponsorships.size %></span>
  </button>
  <button class="shares">
    <i></i> 0
  </button>
</p>