<h1>Listing missions</h1>

<div id="missions">

  <% if @missions.any? %>

  <p><%= link_to 'New Mission', new_mission_path if can_create_missions? %></p>

  <div class="listed">
    <ul class="missions">
      <% @missions.each_with_index do |mission| %>
      <% next if mission.flagged_by? current_user %>
      <li>
        <div class="mission">
          <% if can_update_mission? mission %>
            <div class="options">
              <div>
                <a id="toggleOptions" data-toggle="dropdown" href="#"></a>
                <ul role="menu" aria-labelledby="toggleOptions">
                  <li><%= link_to t('missions.edit'), edit_mission_path(mission) %></li>
                  <li><%= link_to t('missions.delete'), mission, method: :delete, data: { confirm: t('missions.delete_confirmation') } %></li>
                </ul>
              </div>
            </div>
          <% else %>
            <%= link_to '', 
                        flag_mission_path(mission, format: :json), 
                        method: :patch, 
                        class: 'flag',
                        data: { 
                          'no-turbolink' => '',
                          toggle: 'tooltip', 
                          placement: 'auto top', 
                          title: t('missions.flag_as_inappropriate'),
                          'message-flagged' => t('missions.flagged_as_inappropriate'),
                          'message-flag-error' => t('missions.could_not_flag_as_inappropriate')
                        } %>
          <% end %>

          <h3><%= can_view_missions? ? link_to(mission.title, mission) : mission.title %></h3>

          <p class="meta">
            <span class="owner"><%= t 'missions.by' %> <%= mission.owner.name %></span>
            <% if mission.location? %>
            <span class="location"><%= mission.location %></span>
            <% end %>
            <span class="time"><%= time_ago_in_words mission.created_at %> <%= t 'missions.ago' %></span>
            <span class="views"><%= pluralize mission.views, t('missions.views') %> </span>
            <span class="category"><%= mission.category.name %></span>
          </p>

          <% if mission.image? %>
          <div class="img">
            <% image = image_tag mission.image.url, alt: mission.title %>
            <%= can_view_missions? ? link_to(image, mission) : image %>
          </div>
          <% end %>

          <p class="actions">
            <button class="torches">
              <span></span> 0
            </button>
            <button class="sponsors">
              <span></span> 0
            </button>
            <button class="shares">
              <span></span> 0
            </button>
          </p>

          <% if mission.description? %>
          <p class="reason"><%= mission.description %></p>
          <% end %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>

  <% else %>

  <p>There are no missions yet. <%= link_to 'New Mission', new_mission_path if can_update_missions? %></p>

  <% end %>

</div>

<%= content_for :javascripts do %>
  <%= javascript_include_tag 'imagesloaded.pkgd.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'masonry.pkgd.min', 'data-turbolinks-track' => true %>
  <script data-turbolinks-track="true">
    $(function () {
      var masonryContainer = $('#missions .missions');
      masonryContainer.imagesLoaded(function () {
        masonryContainer.masonry();
      })
    });
  </script>
<% end %>