<h1>Listing missions</h1>

<div id="missions">

  <% if can_create_missions? %>
  <p><%= link_to t('missions.new_mission'), new_mission_path %></p>
  <% end %>

  <% if @showcased.any? %>
  <div class="showcased carousel slide" data-ride="carousel" id="showcased-missions">

    <ul class="missions carousel-inner">
      <% @showcased.each_with_index do |mission, index| %>
      <li class="mission item <%= 'active' if index == 0 %>" data-mission-id="<%= mission.id %>">
        <% image = image_tag mission.image.url, alt: mission.title %>
        <%= can_view_missions? ? link_to(image, mission) : image %>
        <div class="caption carousel-caption">
          <div class="top">
            <%= render 'mission_title_and_meta', mission: mission %>
          </div>
          <div class="bottom">
            <% if mission.reason? %>
            <p><%= mission.reason %></p>
            <% end %>
            <%= render 'mission_actions', mission: mission %>
            </p>
          </div>
        </div>
      </li>
      <% end %>
    </ul>

    <ol class="carousel-indicators">
      <li data-target="#showcased-missions" data-slide-to="0" class="active"></li>
      <% for i in 1..(@showcased.size-1) %>
      <li data-target="#showcased-missions" data-slide-to="<%= i %>"></li>
      <% end %>
    </ol>

  </div>
  <% end %>

  <% if @listed.any? %>
  <div class="listed" id="listed-missions">
    <ul class="missions">
      <% @listed.each_with_index do |mission| %>
      <% next if mission.flagged_by? current_user %>
      <li>
        <div class="mission <%= 'accomplished' if mission.accomplished? %>" data-mission-id="<%= mission.id %>">
          <% if mission.accomplished? %>
          <span class="accomplished"><%= t 'missions.accomplished' %></span>
          <% end %>
          <% if can_update_mission? mission %>
            <div class="options" title="<%= t('missions.edit_or_delete') %>">
              <div>
                <a data-toggle="dropdown" href="#"></a>
                <ul role="menu">
                  <li><%= link_to t('missions.edit'), edit_mission_path(mission) %></li>
                  <li><%= link_to t('missions.delete'), mission, method: :delete, data: { confirm: t('missions.delete_confirmation') } %></li>
                </ul>
              </div>
            </div>
          <% elsif can_flag_mission? %>
            <div class="flag" data-toggle="tooltip" data-placement="auto top" title="<%= t('missions.flag_as_inappropriate') %>">
              <div>
                <a data-toggle="dropdown" href="#"></a>
                <ul role="menu">
                  <li><span><%= t('missions.flag_as_inappropriate_confirmation') %></span></li>
                  <li class="buttons">
                    <button class="ok" 
                            data-method="<%= :patch %>" 
                            data-url="<%= flag_mission_path(mission, format: :json) %>" 
                            data-message-flagged="<%= t('missions.flagged_as_inappropriate') %>" 
                            data-message-flag-error="<%= t('missions.could_not_flag_as_inappropriate') %>">
                            <%= t('dialogs.confirm.ok') %></button>
                    <button class="cancel"><%= t 'dialogs.confirm.cancel' %></button>
                  </li>
                </ul>
              </div>
            </div>
            
          <% end %>

          <%= render 'mission_title_and_meta', mission: mission %>

          <% if mission.image? %>
          <div class="img">
            <% image = image_tag mission.image.url, alt: mission.title %>
            <%= can_view_missions? ? link_to(image, mission) : image %>
          </div>
          <% end %>

          <%= render 'mission_actions', mission: mission %>

          <% if mission.reason? %>
          <p class="reason"><%= mission.reason %></p>
          <% end %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <% else %>

  <p><%= t 'missions.no_missions' %>. <%= link_to t('missions.new_mission'), new_mission_path if can_create_missions? %></p>

  <% end %>

</div>

<%= content_for :javascripts do %>
  <%= javascript_include_tag 'imagesloaded.pkgd.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'masonry.pkgd.min', 'data-turbolinks-track' => true %>
  <script data-turbolinks-track="true">
    $(function () {
      var masonryContainer = $('#listed-missions .missions');
      masonryContainer.imagesLoaded(function () {
        masonryContainer.masonry();
      });
    });
  </script>
<% end %>