<!DOCTYPE html>
<html>
<head>
  <title>Liberify</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :stylesheets %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'modernizr-2.8.2.custom.min', 'data-turbolinks-track' => true %>
</head>
<body>

  <div id="content">
    <%= render 'partials/messages' %>
    <%= yield %>
  </div>

  <script>
    var I18n = {
      dialogs: {
        confirm: {
          title: "<%= t 'dialogs.confirm.title' %>",
          ok: "<%= t 'dialogs.confirm.ok' %>",
          cancel: "<%= t 'dialogs.confirm.cancel' %>"
        },
        error: {
          title: "<%= t 'dialogs.error.title' %>",
          ok: "<%= t 'dialogs.error.ok' %>"
        },
        notice: {
          title: "<%= t 'dialogs.notice.title' %>",
          ok: "<%= t 'dialogs.notice.ok' %>"
        }
      }
    }
  </script>
  <%= yield :javascript_variables %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :javascripts %>
</body>
</html>
